{% extends 'chs/admin_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
           <section class="login-block">
    <div class="container">
        <div class="row">
{#            <h2 class="top-menu text-center" >Forgotten your password?</h2>#}
            <div class="col-md-8 login-sec">
                <h2 class="text-center">Add New User</h2>
                <form action="." method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                    <div class="form-check">
                        <button type="submit" class="save btn btn-login">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
