{% extends "chs/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change you password{% endblock %}
{% block content %}
        <section class="login-block">
    <div class="container">
        <div class="row">

            <div class="col-md-8 login-sec">
		        <h2 class="text-center">Change Password</h2>
                <form action="." method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                    <div class="form-check">
                        <button type="submit" class="save btn btn-login">Change Password</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}