{% extends "chs/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <section class="login-block">
    <div class="container">
        <div class="row">

            <div class="col-md-8 login-sec">
		        <h2 class="text-center">Email Reset</h2>
                <p>We've emailed you instructions for setting your password.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            </div>
        </div>
    </div>
    </section>
{% endblock %}